  .salesperson-of-the-year{
    width: 20%;
    height: 7%;
    padding: 3px; 
    bottom: 10px;
    background-color: #610e85; /* Darker color than background for contrast */
    color: white; 
    border: none; 
    border-radius: 5px;
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left:1150px;
  
    /* Center the text inside the button.*/
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Allow other buttons to be placed on the same row.*/
    position: absolute;
    }

.salesperson {
  padding-top: 125px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 25%;
}

