* {
    margin:0px;
    padding:0px;
    font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

header {
    display: flex;
    justify-content: space-between; 
    width: 97%; 
    position: absolute;
    top: 50px; 
    left: 0;
    padding: 0 20px; 
}

footer {
    display: flex;
    justify-content: space-between; 
    width: 97%; 
    position: absolute;
    bottom: 50px; 
    left: 0;
    padding: 0 20px; 
}

.order-button, .logout-button, .return, .trade-in-button {
    font-size: 8px;
    padding: 1em 3em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: rgb(201, 201, 201);
    cursor: pointer;

}

h1 {
  margin: 20px 0;
}

.vehicle-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

label {
  width: 40%;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.trade-in-button {
  margin-top: 20px;
  width: 50%;
}
body {
    background: linear-gradient(to right, #8e44ad, #ffffff);
}